body{
    background-color:#2D3136 ;
    scroll-behavior: smooth;
}
.header{
    background-color: #D5DFF6;
    color: black;
    padding-left: 50px;
    padding-top: 15;
    font-size: 33px;
    font-family: Inter, Extra Bold Italic;
}
.menu{
    text-decoration: none;
    background: rgba(255, 255, 255, 0.3);
    height: 50px ;
    display: flex;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin-top: 0px;
    list-style: none;
    gap: 200px; 
    color: rgb(255, 255, 255);
}
.menu a {
    border-right: 2px solid #DFE6EE;
    text-decoration: none;
    color: rgb(255, 255, 255); 
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-weight: lighter;
}
header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('img/2.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.main{
    background-color: rgb(255, 255, 255, 0.24);
    padding: 50px;
    padding-left: 20px;
    border-radius: 50px;
    margin-top: 300px;
    width: 60%;  
    margin: 100px auto;
    height: 370px;
    text-align: left;
    font-size: 25px;
    color: white;
    font-family: initial;
    display: flex;
    justify-content: flex-end;
    font-weight: lighter;
}
.main p{
    margin-top: 40px;
    margin-left: 40px;
    font-weight: lighter;
}
.mainimg{
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    height: 350px;
    width: 370px;
  }


.map-container {
  background-color: #55585d; 
  border-radius: 20px;
  max-width: 800px;
  text-align: center;
  margin: 20px auto; 
  font-weight: lighter;
}

.map-image {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.map-caption {
  color: white;
  font-size: 20px;
  padding: 10px;
  font-weight: lighter;
  
}

.gorizontal{
  

  display:flex;
  justify-content: space-around;
  gap: 10px;
  
}

.conteiner1{
  background-color: #55585d; 
  border-radius: 20px;
  max-width: 3000px;
  text-align: center;
  margin: 150px; 
  font-weight: lighter;
}
.conteiner-text{
  color: white;
  font-size: 20px;
  padding: 10px;
  font-weight: lighter;
}
.cont-img{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

.conteiner2{
  background-color: #55585d; 
  border-radius: 20px;
  max-width: 800px;
  text-align: center;
  margin: 150px; 
}
.conteiner-text1{
  color: white;
  font-size: 20px;
  padding: 10px;
  font-weight: lighter;
}
.cont-img1{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.conteiner3{
  background-color: #55585d; 
  border-radius: 20px;
  max-width: 800px;
  text-align: center;
  margin: 150px; 
}
.conteiner-text2{
  color: white;
  font-size: 20px;
  padding: 10px;
  font-weight: lighter;
  
}
.cont-img2{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-weight: lighter;
}

.conteiner4{
  background-color: #55585d; 
  border-radius: 20px;
  max-width: 800px;
  text-align: center;
  margin: 150px; 
  font-weight: lighter;
}
.conteiner-text3{
  color: white;
  font-size: 20px;
  padding: 10px;
  font-weight: lighter;
}
.cont-img3{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-weight: lighter;
}

.oaza{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url('img/5.jpg');
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
  position: relative;
  font-weight: lighter;
}

.chaika{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url('img/12.jpg');
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
  position: relative;
  font-weight: lighter;
}
.drag{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url('img/24.jpg');
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
  position: relative;
  font-weight: lighter;
}
.vershina{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url('img/27.jpg');
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
  position: relative;
  font-weight: lighter;
}


h1{
  color: white;
  font-size: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;    
  align-items: center;
  font-family: initial;
  padding: 20px;
  padding-top: 80px;
  font-weight: lighter;
}
.oaza-text{
  background-color: rgb(255, 255, 255, 0.35);
  padding: 30px;
  padding-left: 20px;
  border-radius: 100px;
  width: 50%;  
  
  margin: 85px auto;
  height: 240px;
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: initial;
  display: flex;
  justify-content: flex-end;
  font-weight: lighter;

}
.oaza-text p{
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -20px;
  font-weight: lighter;

}

.map-container1{
  background-color: #55585d; 
  border-radius: 20px;
  max-width: 800px;
  text-align: center;
  margin: 100px auto; 
  font-weight: lighter;
}

.prices-section {
  margin-top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.price-card {
  background-color: #55585d;
  color: #fff;
  padding: 40px;
  border-radius: 25px;
  text-align: center;
  width: 500px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.price-card h2 {
  margin-top: 0;
  margin: -20px;
  font-size: 30px;
  font-weight: lighter;
}

.price-card hr {
  margin: 20px 0;
  border: none;
  height: 1px;
  background-color: #ddd;
}

.price-card p {
  font-size: 25px;
  margin: 10px 0;
  font-weight: lighter;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 40px;
  overflow: hidden;
}

.carousel {
  display: flex;
  gap: 80px;
  overflow-x: auto;
  scroll-behavior: smooth;
  max-width: 90%;
  padding: 20px 0;
}

.carousel img {
  height: 250px;
  border-radius: 20px;
  flex-shrink: 0;
  transition: transform 0.3s;
}

.carousel img:hover {
  transform: scale(1.05);
}

.carousel-btn {
  background-color: #55585d;
  border: none;
  font-size: 30px;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.2s;
}

.carousel-btn:hover {
  background-color: #807e88;
}

.separator-line {
  margin: 20px 0;
  border: none;
  height: 1px;
  background-color: #ddd;
  width: 100%;
  opacity: 0.7;
}



.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: #D5DFF6;
    top: 900px;
    height: 400px;
    position: relative;
    font-size: 20px;
    overflow: hidden;
    padding-bottom: 20px;
  }

  .footer-section {
    flex: 1;
    text-align: center;
    border-right: 0.1px solid black;
    height: 500px;
    line-height: 40px;
    top: 20px;
    position: relative;
    
  }
  .footer-section img{
    width: 25px;
    height: 25px;
    margin-right: 15px;
    }

  .footer-section:last-child {
    border-right: none;
  }

  .footer-section p {
    margin: 5px 0;
    color: #615e5e;
    
  }
  
  .footer-section a {
    color: #615e5e;
    text-decoration: none;
  }
  h5{
    font-size: 25px;
    color: #615e5e;
    font-weight: lighter;
  }