body{
    background-color:#2D3136 ;
}
.header{
    background-color: #D5DFF6;
    color: black;
    padding-left: 50px;
    padding-top: 15;
    font-size: 33px;
    font-family: Inter, Extra Bold Italic;
}
.menu{
    text-decoration: none;
    background: rgba(255, 255, 255, 0.3);
    height: 50px ;
    display: flex;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin-top: 0px;
    list-style: none;
    gap: 200px; 
    color: rgb(255, 255, 255);
}
.menu a {
    border-right: 2px solid #DFE6EE;
    
    text-decoration: none;
    color: rgb(255, 255, 255); 
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('img/2.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.main{
    background-color: rgb(255, 255, 255, 0.24);
    padding: 50px;
    padding-left: 20px;
    border-radius: 40px;
    margin-top: 300px;
    width: 70%;  
    margin: 100px auto;
    height: 420px;
    text-align: left;
    font-size: 30px;
    color: white;
    font-family: initial;
    display: flex;
    justify-content: flex-end;
}
.main p{
    margin-top: 40px;
    margin-left: 40px;
}
.mainimg{
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    height: 400px;
    width: 410px;
  }


.map-container {
  background-color: #55585d; 
  border-radius: 20px;
  max-width: 800px;
  text-align: center;
  margin: 20px auto; 
}

.map-image {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.map-caption {
  color: white;
  font-size: 20px;
  padding: 10px;
  
}

.gorizontal{
  

  display:flex;
  justify-content: space-around;
  gap: 10px;
  
}

.conteiner1{
  background-color: #55585d; 
  border-radius: 20px;
  max-width: 800px;
  text-align: center;
  margin: 150px; 
}
.conteiner-text{
  color: white;
  font-size: 20px;
  padding: 10px;
}
.cont-img{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.conteiner2{
  background-color: #55585d; 
  border-radius: 20px;
  max-width: 800px;
  text-align: center;
  margin: 150px; 
}
.conteiner-text1{
  color: white;
  font-size: 20px;
  padding: 10px;
}
.cont-img1{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.conteiner3{
  background-color: #55585d; 
  border-radius: 20px;
  max-width: 800px;
  text-align: center;
  margin: 150px; 
}
.conteiner-text2{
  color: white;
  font-size: 20px;
  padding: 10px;
}
.cont-img2{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
  
.conteiner4{
  background-color: #55585d; 
  border-radius: 20px;
  max-width: 800px;
  text-align: center;
  margin: 150px; 
}
.conteiner-text3{
  color: white;
  font-size: 20px;
  padding: 10px;
}
.cont-img3{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: #D5DFF6;
    top: 900px;
    height: 400px;
    position: relative;
    font-size: 20px;
    overflow: hidden;
    padding-bottom: 20px;
  }
  
 
  
  .footer-section {
    flex: 1;
    text-align: center;
    border-right: 0.1px solid black;
    height: 500px;
    line-height: 40px;
    top: 20px;
    position: relative;
    
  }
  .footer-section img{
    width: 25px;
    height: 25px;
    margin-right: 15px;
    }

  .footer-section:last-child {
    border-right: none;
  }

  .footer-section p {
    margin: 5px 0;
    color: #615e5e;
    
  }
  
  .footer-section a {
    color: #615e5e;
    text-decoration: none;
  }
  h5{
    font-size: 25px;
    color: #615e5e;
  }